# Бинарные файлы
*.exe
*.exe~
*.dll
*.so
*.dylib

# Файлы для тестов
*.test

# Файлы покрытия кода
*.out

# Папка зависимостей
vendor/

# Файлы IDE
.vscode/
.idea/
*.swp
*.swo

# Артефакты сборки
/bin/
/dist/

# Локальные конфиги
.env
.env.local
